::-moz-selection { background: rgb(255, 145, 0); color: #fff; text-shadow: none; }
::selection { background: rgb(255, 145, 0); color: #fff; text-shadow: none; }

body {
	background: url(../img/bg-orange.png) fixed top center #3a2c23;
}
	
header.banner {
	background: rgba(255, 102, 0, 0.4);
}

header.banner h1:hover {
	background: rgb(255, 102, 0);
}

#sidebar {
	background: rgba(255, 102, 0, 0.2);
}

#sidebar .sub a {
	background: rgba(255, 102, 0, 0.4);
}

#sidebar .sub a:hover {
	background: rgba(255, 102, 0, 1);
}

#content h1 {
	color: rgb(255, 102, 0);
}

#content .link-list li {
	background: rgba(255, 102, 0, 0.2);
}

#content .link-list li:hover {
	background: rgba(255, 145, 0, 0.2);
}

#content .link-list li:hover footer {
	background: rgba(255, 145, 0, 0.2);
}

#content .link-list li footer {
	background: rgba(255, 102, 0, 0.2);
}

.default-static	{ background: rgba(255, 102, 0, 1); }

#content .post {
        background: rgba(255, 102, 0, 0.2);
}

#content .post header {
        background: rgba(255, 102, 0, 0.2);
}
