@import 'nib';

$standard-text-color = rgb(40, 40, 40)
$standard-text-color-highlight = rgb(40, 40, 40)
$standard-text-color-alpha = rgba(40, 40, 40, 0.5)
$frosted-background-color = rgba(3, 50, 134, 0.8)
$frosted-background-intensity = 0.5em

blockquote.twitter-tweet {
  // font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "soleil", sans-serif;
}

html {
  font-size: 1em;
  text-size-adjust: 100%;
  height: 100%;
  line-height: 1.4;
}
body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  // font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "soleil", sans-serif;
  font-weight: 400;
  font-smoothing: antialiased;
  font-size: 1em;
  color: $standard-text-color;
  height: 100%;
  cursor: default;
}
body.black {
  // background-color: rgb(25, 25, 25);
  // background-image: none;
}
a, footer, li img {
  transition-duration: 0.2s;
  transition-property: color, background, border;
  transition-timing-function: ease-in-out;
}
strong {
  font-weight: 600;
}


@supports not ((backdrop-filter: blur(0.5em)) or (-webkit-backdrop-filter: blur(0.5em))) {
  header#global-header {
    background: $frosted-background-color;
  }
}
@supports ((backdrop-filter: blur(0.5em)) or (-webkit-backdrop-filter: blur(0.5em))) {
  header#global-header {
    background: $frosted-background-color;
    backdrop-filter: blur(0.5em);
    -webkit-backdrop-filter: blur(0.5em);
  }
}

header#global-header {
  z-index: 9;
  width: 100%;
  position: fixed;
  text-transform: uppercase;
  button {
    display: none;
  }
  div {
    max-width: 60em;
    padding: 0 0.5em 0 0.5em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  h1 {
    font-weight: 600;
    font-size: 1.3em;
    margin: -0.2em 0em 0em 0em;
    a {
      padding: 1em .5em 0.8em .1em;
    }
  }
  nav {
    display: block;
    transition: max-height .2s ease-in-out;
    &.reveal {
      max-height: 25em;
      overflow: scroll;
    }
    font-size: 1.2em;
    float: right;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      li {
        margin: 0;
        padding: 1em 0;
        a {
          color: rgba(255, 255, 255, 1);
          padding: 1em 0.5em;
          &:hover {
            color: rgba(255, 255, 255, 1);
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#container {
  display: block;
  max-width: 60em;
  margin: 0 auto;
  padding: 4em 1em 0 1em;
  footer#global-footer {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), $frosted-background-color 50%, rgba(255, 255, 255, 0));
    border-image-slice: 1;
    display: flex;
    margin: 2em 0 0 0;
    padding: 2em 0 4em 0;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
}

#main-container {
  display: flex;
  ul.column-list {
    column-count: 2;
    column-gap: 0em;
    li {
      break-inside: avoid-column;
    }
  }
  ul.link-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      a {
        padding: 0.5em 0;
        display: block;
        border: none;
        text-decoration: none;
      }
      a:hover {
        header {
          text-decoration: underline;
        }
        footer {
          color: $standard-text-color-highlight;
          font-size: 0.9em;
        }
      }
      footer {
        color: $standard-text-color;
        font-size: 0.9em;
      }
    }
    li:first-child {
      a {
        padding: 0 0 0.5em 0;
      }
    }
  }
  h1 {
    font-weight: 600;
    font-size: 2em;
    margin: 1.45em 0 .55em 0;
    color: rgb(40, 40, 40);
  }
  a {
    color: rgb(5, 95, 255);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  article {
    font-feature-settings: "liga", "onum";
    font-size: 1.05em;
    font-weight: 400;
    width: 100%;
    img {
      width: 100%;
    }
    p {
      line-height: 1.8em;
    }
    h1 {
      color: rgb(40, 40, 40);
      font-weight: 600;
      text-align: left;
      margin: 1.45em 0 .45em 0;
    }
    h2 {
      color: rgb(40, 40, 40);
      text-align: left;
      font-weight: 600;
      margin: 2em 0 0.8em 0;
    }
    .highlighter-rouge {
      padding: 1em;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 1em;
      pre {
        margin: 0;
      }
    }
    ul.gallery {
      list-style: none;
      padding: 1em 0.75em 0.5em 0.75em;
      border-radius: 1em;
      background: rgba(0, 0, 0, 0.2);
      margin: 0 -0.5em 1em -0.5em;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 25%;
        padding: 0.25em 0.5em;
        box-sizing: border-box;
        img {
          width: 100%;
          border-radius: 0.333em;
        }
      }
    }
  }
  blockquote {
    padding: 1em 3em;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    cite {
      display: block;
      text-align: right;
      font-size: 0.9em;
    }
  }
  blockquote::before {
    font-family: "Times New Roman";
    content: "“";
    position: absolute;
    top: 0.25em;
    left: 0.5em;
    font-size: 2em;
    font-weight: 600;
    color: $standard-text-color-alpha;
  }
  header#meta {
    font-size: 0.9em;
    margin: 0 0 2em 0;
    display: block;
    text-align: left;
    color: rgb(40, 40, 40);
    & > :not(:last-child)::after {
      content: " \2022 ";
      padding: 0 0.5em;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline;
      li {
        display: inline;
        &:not(:last-child)::after {
          content: ", ";
        }
      }
    }
  }
  section.written-post {
    max-width: 40em;
  }
  section#main-fill {
    width: 100%;
  }
  section#main {
    width: 65%;
  }
  section#sidebar {
    width: 35%;
  }
}


div#overlay {
  z-index: 49;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
  &.reveal {
    opacity: 1;
    display: block;
    visibility: visible;
  }
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5em);
  -webkit-backdrop-filter: blur(0.5em);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  #image-placeholder {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  #closeOverlay {
    width: 2em;
    height: 1.8em;
    position: fixed;
    right: 1.9em;
    top: 1.9em;
    display: block;
    transform: rotate(0deg);
    transition: .2s ease-in-out;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    span {
      &:nth-child(1) {
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      top: 0.75em;
      display: block;
      position: absolute;
      height: 0.2em;
      width: 100%;
      background: #fff;
      opacity: 1;
      border-radius: 0.2em;
      left: 0;
    }
  }
}


@media only screen and (max-width: 46em) {
  #main-container {
    display: block;
    ul.column-list {
      column-count: 1;
      column-gap: 0em;
    }
    section#main {
      width: 100%;
    }
    section#sidebar {
      width: 100%;
    }
    article {
      ul.gallery {
        list-style: none;
        padding: 1em 0.75em 0.5em 0.75em;
        border-radius: 1em;
        background: rgba(0, 0, 0, 0.2);
        margin: 0 0 1em 0;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 50%;
          padding: 0.25em 0.5em;
          box-sizing: border-box;
          img {
            width: 100%;
            border-radius: 0.333em;
          }
        }
      }
    }
  }

  header#global-header {
    text-align: left;
    #displayNavigation {
      width: 2em;
      height: 1.8em;
      position: fixed;
      right: 1.9em;
      top: 1.9em;
      display: block;
      transform: rotate(0deg);
      transition: .2s ease-in-out;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      border: none;
      cursor: pointer;
      background: rgba(0, 0, 0, 0);
      span {
        &:nth-child(1) {
          top: 0em;
        }
        &:nth-child(2), &:nth-child(3) {
          top: 0.75em;
        }
        &:nth-child(4) {
          top: 1.5em;
        }
        display: block;
        position: absolute;
        height: 0.2em;
        width: 100%;
        background: #fff;
        opacity: 1;
        border-radius: 0.2em;
        left: 0;
        transform: rotate(0deg);
        transition: .2s ease-in-out;
      }
      &.open {
        span {
          &:nth-child(1) {
            top: 0.75em;
            width: 0%;
            left: 50%;
          }
          &:nth-child(2) {
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
          &:nth-child(4) {
            top: 0.75em;
            width: 0%;
            left: 50%;
          }
        }
      }
    }
    div {
      max-width: 60em;
      padding: 0;
      margin: 0 auto;
      display: block;
    }
    h1 {
      display: block;
      padding: 0.8em 0em 0.8em 0.3em;
    }
    nav {
      max-height: 0;
      float: none;
      overflow: hidden;
      transition: max-height .2s ease-in-out;
      ul {
        display: block;
        li {
          padding: 0 1em;
          display: block;
          a {
            display: block;
          }
        }
      }
    }
  }
}
