---
layout: layout
colour: purple
title: Projects
---

       <h1>Projects and Source Code</h1>
       <ul class="link-list">{% for page in site.pages %}{% if page.project %}
         <a href="{{ page.url }}">
           <li>
             <article>
               <header>
                 {{ page.title }}
               </header>
               <footer>
                 {{ page.project_date }}
               </footer>
             </article>
           </li>
         </a>{% endif %}{% endfor %}
       </ul>
