---
layout: layout
title: Chris Morris - Scitechivity!
---
      <h1>Blog Posts</h1>
      <ul class="link-list">
        {% for post in site.posts %}
        {% unless post.hidden %}
        <a href="{{ post.url }}/">
          <li>
            <article>
              <header>
              {{ post.title }}
              </header>
              <footer>
              {{ post.date | date: "%B %e, %Y" }}
              </footer>
            </article>
          </li>
        </a>
        {% endunless %}
        {% endfor %}
      </ul>

      <h1>Projects and Source Code</h1>
      <ul class="link-list">
        {% for page in site.pages %}
        {% if page.project %}
        <a href="{{ page.url }}">
          <li>
            <article>
              <header>
                {{ page.title }}
              </header>
              <footer>
                {{ page.project_date }}
              </footer>
            </article>
          </li>
        </a>
        {% endif %}
        {% endfor %}
      </ul>
