<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600,700,200italic,300italic,600italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <title>{{ page.title }} &raquo; ChrisMorris.org</title>
  {% if site.description %}  <meta name="description" content="{{ site.description }}">{% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="{{ page.title }} &raquo; ChrisMorris.org" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://chrismorris.org/img/display_picture.jpg" />
  <meta property="og:site_name" content="ChrisMorris.org" />

  <meta property="fb:admins" content="1721669711307072" />
  <meta property="fb:app_id" content="100004780085723" />

  <link rel="stylesheet" href="/css/style.0.css">
  <link rel="stylesheet" href="/css/{% if page.colour %}{{ page.colour }}{% else %}blue{% endif %}.0.css">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link rel="alternate" type="application/atom+xml" title="ChrisMorris.org" href="http://feeds.feedburner.com/ChrisMorrisOrg" />
</head>

<body>
  <div id="container">
    <!-- Prompt IE 6 users to install Chrome Frame -->
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <div class="clearfix bannerunderlay"></div>

    <div id="containment">
      <header class="clearfix banner">
        <a href="/"><h1>Chris Morris</h1></a>
        <h2>Scitechivity</h2>
      </header>

      <section id="content" role="main">
        {{ content }}
      </section>

      <section id="sidebar">
        <div id="offset">
          <nav>
            <ul>
              <li><a href="/"><h1 class="blue">Blog</h1></a></li>
              <li><a href="/projects/"><h1 class="purple">Projects</h1></a></li>
              <li><a href="/resume/"><h1 class="red">Résumé</h1></a></li>
              <li><a href="/about/"><h1 class="orange">About</h1></a></li>
              <li><a href="/contact/"><h1 class="green">Contact</h1></a></li>
            </ul>
          </nav>
          <h1 class="default-static" id="getQuote">Random Quote</h1>
          <div class="box">
          </div>
          <h1 class="default-static">Friends</h1>
          <ul class="sub">
            <li><a target="_blank" href="http://cwhitey.me/">Callum White</a></li>
            <li><a target="_blank" href="http://dilpreetsingh.me/">Dilpreet Singh</a></li>
            <li><a target="_blank" href="http://feross.org/">Feross Aboukhadijeh</a></li>
            <li><a target="_blank" href="http://johnraul.com/">John Raul</a></li>
            <li><a target="_blank" href="http://jonrodriguez.org/">Jon Rodriguez</a></li>
            <li><a target="_blank" href="http://backflipboy.mitch.pro">Kevin Wilson</a></li>
            <li><a target="_blank" href="http://mike.bitrevision.com/">Michael Billington</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.9.0.min.js"><\/script>')</script>-->
<script src="/js/main.0.js" type="text/javascript"></script>

<!-- Plugins -->
  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36771574-1']);
    _gaq.push(['_setDomainName', 'chrismorris.org']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
{% if page.type == "post" %}
  <div id="fb-root"></div>

  <!-- Facebook -->
<script>
/*  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1721669711307072";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
*/

  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '1721669711307072', // App ID from the App Dashboard
      channelUrl : '//chrismorris.org/channel.html', // Channel File for x-domain communication
      status     : true, // check the login status upon init?
      cookie     : true, // set sessions cookies to allow your server to access the session?
      xfbml      : true  // parse XFBML tags on this page?
    });
  };

  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));

  <!-- Twitter -->
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
{% endif %}

</body>
</html>
