<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css?v=20170902">
    <link rel="canonical" href="https://chrismorris.org{{ page.url }}" />
    <title>{{ page.title }} &raquo; ChrisMorris.org</title>
{% if site.description %}    <meta name="description" content="{{ site.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{{ page.title }} &raquo; ChrisMorris.org" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://chrismorris.org/img/display_picture.jpg" />
    <meta property="og:site_name" content="ChrisMorris.org" />

    <meta property="fb:admins" content="1721669711307072" />
    <meta property="fb:app_id" content="100004780085723" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="alternate" type="application/atom+xml" title="ChrisMorris.org" href="//feeds.feedburner.com/ChrisMorrisOrg" />
    <script src="https://use.typekit.net/fen3lge.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
  </head>
  <body>

    <header id="global-header">
      <div>
        <h1><a href="/">Chris Morris</a></h1>
        <nav>
          <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/projects/">Code</a></li>
            <!-- <li><a href="/photography/">Photos</a></li> -->
            <li><a href="/artwork/">Art</a></li>
            <!-- <li><a href="/music/">Music</a></li> -->
            <li><a href="/more/">More</a></li>
            <li><a href="/contact/">Contact</a></li>
          <ul>
        </nav>
        <button id="displayNavigation"><span></span><span></span><span></span><span></span></button>
      </div>
    </header>

    <div style="background: #fff; width: 100%;">
    <div id="container">
      <div id="main-container">
        {{ content }}
      </div>
    </div>
  </div>

    <footer id="global-footer">
      <div>
        © Chris Morris<br>
        Made in Melbourne
      </div>
    </footer>

    <div id="overlay">
      <div id="image-placeholder"></div>
      <button id="closeOverlay"><span></span><span></span></button>
    </div>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <!--<script>window.jQuery || document.write('<script src="/js/jquery-2.2.0.min.js"><\/script>')</script>-->
  <script src="/js/main.js?v=20160903" type="text/javascript"></script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36771574-1']);
  _gaq.push(['_setDomainName', 'chrismorris.org']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://ssl.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</html>
