---
layout: layout
class: post
---
      <section id="main-fill">
        <article>
          <h1>{{ page.title }}</h1>
          <header id="meta">
            {% if page.date %}<time datetime="{{page.date | date: "%Y-%m-%d"}}">{{ page.date | date: "%B %e, %Y" }}</time>{% endif %}
            <span class="views inactive" data-slug="{{ page.url }}"></span>
            {% if page.tags %}Tagged under
            <ul>
              {% for tag in page.tags %}<li><a href="/tag/{{ tag }}/">{{ tag | replace: '-', ' ' }}</a></li>
              {% endfor %}
            </ul>{% endif %}
          </header>
          {{ content }}
        </article>
        {% if page.comments %}
        <h1>Comments</h1>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'chrismorrisorg';
         (function() {
            var dsq = document.createElement('script');
            dsq.type ='text/javascript';
            dsq.async = true;
            dsq.src ='http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
      </section>
